{% extends "base.html" %}
{% block body%}
<script type="text/javascript" src="{{url_for('static',filename='js/forms.js')}}"></script>
<div class="bg-content"> 
    <!--============================== content =================================-->
    <div id="content">
      <div class="container">
        <div class="row">
          <article class="span8">
            <h3>Contact us</h3>
            <div class="inner-1">
              <form id="contact-form" action="{{url_for('contact')}}" method="POST">
                {{ form.hidden_tag() }}
                <div class="success"> 
                  <strong>
                    发送成功! 
                    您还可通过拨打手机 +86.13859073000 联系我们！
                  </strong> 
                </div>
                <fieldset>
                  <div>
                    <label class="name">
                      {{ form.name(value="请在此输入您的尊称",id="name") }}
                      <br>
                      <span class="error">*请输入中文.Pls input a chinese name</span>
                      <span class="empty">*请告知您的尊称.Pls tell us the name.</span>
                    </label>
                  </div>
                  <!--
                  <div>
                    <label class="phone">
                      form.phone(value="Your Telephone Number",id="phone",type='tel') 
                      <br>
                      <span class="error">*This is not a valid phone number.</span> <span class="empty">*This field is required.</span> 
                    </label>
                  </div>
                -->
                  <div>
                    <label class="email">
                      {{ form.email(value="请在此输入您的电邮地址。",id="email",type="email") }}
                      <br>
                      <span class="error">*请输入正确的邮箱地址。This is not a valid email address.</span> <span class="empty">*请告知您的电邮地址。This field is required.</span> </label>
                    </div>
                <div>
                  <label class="message">
                    {{ form.msg(default="请在此输入要垂询的信息内容。",id="message") }}
                    <br>
                    <span class="error">*信息内容至少要20个字吧亲。The message is too short.</span> <span class="empty">*This field is required.</span> 
                  </label>
                </div>
                <div class="buttons-wrapper"> 
                  <a class="btn btn-1" data-type="reset">清空</a> 
                  <a class="btn btn-1" data-type="submit">发送</a>
                </div>
              </fieldset>
                </form>
          </div>
        </article>
        <article class="span4">
          {% include "side_bar.html" %}
        </article>
      </div>
        </div>
  </div>
    </div>

{% endblock%}