{% extends "base.html" %}
{% block body%}

<div class="bg-content">       
  <!--============================== content =================================-->      
  <div id="content">
    <div class="row-1">
      <div class="container">
        <div class="row">
          <article class="span12">
            <h3>织花面料 Embroidery Fabric</h3>
          </article>
          <div class="clear"></div>
           <ul class="portfolio clearfix">           
            <li class="box">
              <a href="{{url_for('static',filename='img/embroidery_fabric/119099-big.jpg')}}" class="magnifier" >
                <img alt="" src="{{url_for('static',filename='img/embroidery_fabric/119099-270x180.jpg')}}">
              </a>
            </li>            
            <li class="box">
              <a href="{{url_for('static',filename='img/embroidery_fabric/119989-big.jpg')}}" class="magnifier" >
                <img alt="" src="{{url_for('static',filename='img/embroidery_fabric/119989-270x180.jpg')}}">
              </a>
            </li>            
            <li class="box">
              <a href="{{url_for('static',filename='img/embroidery_fabric/991055C3-big.jpg')}}" class="magnifier" >
                <img alt="" src="{{url_for('static',filename='img/embroidery_fabric/991055C3-270x180.jpg')}}">
              </a>
            </li>            
            <li class="box">
              <a href="{{url_for('static',filename='img/embroidery_fabric/H4049A3-big.jpg')}}" class="magnifier" >
                <img alt="" src="{{url_for('static',filename='img/embroidery_fabric/H4049A3-270x180.jpg')}}">
              </a>
            </li>            
            <li class="box">
              <a href="{{url_for('static',filename='img/embroidery_fabric/H6865A3-big.jpg')}}" class="magnifier" >
                <img alt="" src="{{url_for('static',filename='img/embroidery_fabric/H6865A3-270x180.jpg')}}">
              </a>
            </li>            
            <li class="box">
              <a href="{{url_for('static',filename='img/embroidery_fabric/H7279-big.jpg')}}" class="magnifier" >
                <img alt="" src="{{url_for('static',filename='img/embroidery_fabric/H7279-270x180.jpg')}}">
              </a>
            </li>            
            <li class="box">
              <a href="{{url_for('static',filename='img/embroidery_fabric/H9404A2-big.jpg')}}" class="magnifier" >
                <img alt="" src="{{url_for('static',filename='img/embroidery_fabric/H9404A2-270x180.jpg')}}">
              </a>
            </li>           
            <li class="box">
              <a href="{{url_for('static',filename='img/embroidery_fabric/X7930A-big.jpg')}}" class="magnifier" >
                <img alt="" src="{{url_for('static',filename='img/embroidery_fabric/X7930A-270x180.jpg')}}">
              </a>
            </li>           
            <li class="box">
              <a href="{{url_for('static',filename='img/embroidery_fabric/X8421-big.jpg')}}" class="magnifier" >
                <img alt="" src="{{url_for('static',filename='img/embroidery_fabric/X8421-270x180.jpg')}}">
              </a>
            </li>         
            <li class="box">
              <a href="{{url_for('static',filename='img/embroidery_fabric/X8820A-big.jpg')}}" class="magnifier" >
                <img alt="" src="{{url_for('static',filename='img/embroidery_fabric/X8820A-270x180.jpg')}}">
              </a>
            </li>       
            <li class="box">
              <a href="{{url_for('static',filename='img/embroidery_fabric/X9659-big.jpg')}}" class="magnifier" >
                <img alt="" src="{{url_for('static',filename='img/embroidery_fabric/X9659-270x180.jpg')}}">
              </a>
            </li>
        </div>
      </div>
    </div>
    {% include "ref_bottom.html" %}
  </div>
</div>

{% endblock %}