{% extends "base.html" %}
{% block body%}

<div class="bg-content">       
  <!--============================== content =================================-->      
  <div id="content">
    <div class="row-1">
      <div class="container">
        <div class="row">
          <article class="span12">
            <h3>织花面料 Embroidery Fabric</h3>
          </article>
          <div class="clear"></div>
           <ul class="portfolio clearfix">           
            <li class="box">
              <a href="{{url_for('static',filename='img/embroidery_fabric/119099-big.jpg')}}" class="magnifier" >
                <img alt="" src="{{url_for('static',filename='img/embroidery_fabric/119099-270x180.jpg')}}">
              </a>
            </li>            
            <li class="box">
              <a href="{{url_for('static',filename='img/embroidery_fabric/119989-big.jpg')}}" class="magnifier" >
                <img alt="" src="{{url_for('static',filename='img/embroidery_fabric/119989-270x180.jpg')}}">
              </a>
            </li>            
            <li class="box">
              <a href="{{url_for('static',filename='img/embroidery_fabric/991055c3-big.jpg')}}" class="magnifier" >
                <img alt="" src="{{url_for('static',filename='img/embroidery_fabric/991055c3-270x180.jpg')}}">
              </a>
            </li>            
            <li class="box">
              <a href="{{url_for('static',filename='img/embroidery_fabric/h4049a3-big.jpg')}}" class="magnifier" >
                <img alt="" src="{{url_for('static',filename='img/embroidery_fabric/h4049a3-270x180.jpg')}}">
              </a>
            </li>            
            <li class="box">
              <a href="{{url_for('static',filename='img/embroidery_fabric/h6865a3-big.jpg')}}" class="magnifier" >
                <img alt="" src="{{url_for('static',filename='img/embroidery_fabric/h6865a3-270x180.jpg')}}">
              </a>
            </li>            
            <li class="box">
              <a href="{{url_for('static',filename='img/embroidery_fabric/h7279-big.jpg')}}" class="magnifier" >
                <img alt="" src="{{url_for('static',filename='img/embroidery_fabric/h7279-270x180.jpg')}}">
              </a>
            </li>            
            <li class="box">
              <a href="{{url_for('static',filename='img/embroidery_fabric/h9404a2-big.jpg')}}" class="magnifier" >
                <img alt="" src="{{url_for('static',filename='img/embroidery_fabric/h9404a2-270x180.jpg')}}">
              </a>
            </li>           
            <li class="box">
              <a href="{{url_for('static',filename='img/embroidery_fabric/x7930a-big.jpg')}}" class="magnifier" >
                <img alt="" src="{{url_for('static',filename='img/embroidery_fabric/x7930a-270x180.jpg')}}">
              </a>
            </li>           
            <li class="box">
              <a href="{{url_for('static',filename='img/embroidery_fabric/x8421-big.jpg')}}" class="magnifier" >
                <img alt="" src="{{url_for('static',filename='img/embroidery_fabric/x8421-270x180.jpg')}}">
              </a>
            </li>         
            <li class="box">
              <a href="{{url_for('static',filename='img/embroidery_fabric/x8820a-big.jpg')}}" class="magnifier" >
                <img alt="" src="{{url_for('static',filename='img/embroidery_fabric/x8820a-270x180.jpg')}}">
              </a>
            </li>       
            <li class="box">
              <a href="{{url_for('static',filename='img/embroidery_fabric/x9659-big.jpg')}}" class="magnifier" >
                <img alt="" src="{{url_for('static',filename='img/embroidery_fabric/x9659-270x180.jpg')}}">
              </a>
            </li>
        </div>
      </div>
    </div>
    {% include "ref_bottom.html" %}
  </div>
</div>

{% endblock %}