{% extends "base.html" %}
{% block body%}
<!--======== bg-content ==========-->
<div class="bg-content">
  <div class="container">
    <div class="row">
          <div class="span12"> 
        <!--============================== slider =================================-->
        <div class="flexslider">
              <ul class="slides">
            <li> <img src="{{url_for('static',filename='img/slide-1.jpg')}}" alt="" > </li>
            <li> <img src="{{url_for('static',filename='img/slide-2.jpg')}}" alt="" > </li>
            <li> <img src="{{url_for('static',filename='img/slide-3.jpg')}}" alt="" > </li>
            <li> <img src="{{url_for('static',filename='img/slide-4.jpg')}}" alt="" > </li>
            <li> <img src="{{url_for('static',filename='img/slide-5.jpg')}}" alt="" > </li>
          </ul>
            </div>
        <span id="responsiveFlag"></span>
        <div class="block-slogan">
            <h2>公司简介</h2>
            <div>
            	<p>
	            	<a href="{{url_for('index')}}" class="link-1">福建福清中纺纺织有限公司</a> 
	            	是一家集研发、生产、销售贸易于一体的专业性纺织企业，。公司现拥有先进的德国进口卡尔迈耶全电脑控制经编机、花边机三十多台先进设备，集多年经编织品生产之经验，可生产产品包括：蕾丝花边、经编面料、网布面料等，广泛应用于内衣、服装服饰和婚纱等领域。
	            	<br/><a href="{{url_for('page', name='about_us')}} " target="_blank" class="link-1">>>了解更多中纺风采<<</a>
            	</p>
          	</div>
        </div>
      </div>
        </div>
  </div>
      
  <!--============================== content =================================-->
  
  <div id="content" class="content-extra">
    <div class="row-1">
          <div class="container">
        <div class="row">
              <ul class="thumbnails thumbnails-1">
            <li class="span3">
                  <div class="thumbnail thumbnail-1">
                <h3>蕾丝花边</h3>
                <img  src="{{url_for('static',filename='img/page1-img1.jpg')}}" alt="">
                <section> <strong>蕾丝花边Small Lace </strong>
                      <p></p>
                      <a href="{{url_for('product_id', name='small_lace')}}" class="btn btn-1">查看更多</a> </section>
              </div>
                </li>
            <li class="span3">
                  <div class="thumbnail thumbnail-1">
                <h3>贾卡花边</h3>
                <img  src="{{url_for('static',filename='img/page1-img2.jpg')}}" alt="">
                <section>
                	<strong>贾卡花边Jacquard Lace</strong>
                    <p></p>
                    <a href="{{url_for('product_id', name='jacquard_lace')}}" class="btn btn-1">查看更多</a>
                </section>
              </div>
                </li>
            <li class="span3">
                <div class="thumbnail thumbnail-1">
                <h3>经编花边</h3>
                <img  src="{{url_for('static',filename='img/page1-img3.jpg')}}" alt="">
                <section> 
                	<strong>经编花边Lace Fabric</strong>
                    <p></p>
                    <a href="{{url_for('product_id', name='lace_fabric')}}" class="btn btn-1">查看更多</a>
                </section>
              </div>
                </li>
            <li class="span3">
                <div class="thumbnail thumbnail-1">
                <h3 class="title-1 extra">织花面料</h3>
                <img  src="{{url_for('static',filename='img/page1-img4.jpg')}}" alt="">
                <section>
                	<strong>织花面料Embroidery Fabric</strong>
                    <p></p>
                    <a href="{{url_for('product_id', name='embroidery_fabric')}}" class="btn btn-1">Read More</a> 
                </section>
              </div>
                </li>
          </ul>
            </div>
      </div>
    </div>
    {% include "ref_bottom.html" %}
  </div>
</div>
{% endblock %}