{% extends "base.html" %}
{% block body%}

<div class="bg-content">       
  <!--============================== content =================================-->      
  <div id="content">
    <div class="row-1">
      <div class="container">
        <div class="row">
          <article class="span12">
            <h3>贾卡花边 Jacquard Lace</h3>
          </article>
          <div class="clear"></div>
           <ul class="portfolio clearfix">           
            <li class="box">
              <a href="{{url_for('static',filename='img/jacquard_lace/w87255-big.jpg')}}" class="magnifier" >
                <img alt="" src="{{url_for('static',filename='img/jacquard_lace/w87255-270x180.jpg')}}">
              </a>
            </li>            
            <li class="box">
              <a href="{{url_for('static',filename='img/jacquard_lace/w87316-big.jpg')}}" class="magnifier" >
                <img alt="" src="{{url_for('static',filename='img/jacquard_lace/w87316-270x180.jpg')}}">
              </a>
            </li>            
            <li class="box">
              <a href="{{url_for('static',filename='img/jacquard_lace/w87950-big.jpg')}}" class="magnifier" >
                <img alt="" src="{{url_for('static',filename='img/jacquard_lace/w87950-270x180.jpg')}}">
              </a>
            </li>            
            <li class="box">
              <a href="{{url_for('static',filename='img/jacquard_lace/w87957-big.jpg')}}" class="magnifier" >
                <img alt="" src="{{url_for('static',filename='img/jacquard_lace/w87957-270x180.jpg')}}">
              </a>
            </li>            
            <li class="box">
              <a href="{{url_for('static',filename='img/jacquard_lace/w87958rs-big.jpg')}}" class="magnifier" >
                <img alt="" src="{{url_for('static',filename='img/jacquard_lace/w87958rs-270x180.jpg')}}">
              </a>
            </li>            
            <li class="box">
              <a href="{{url_for('static',filename='img/jacquard_lace/w87959-big.jpg')}}" class="magnifier" >
                <img alt="" src="{{url_for('static',filename='img/jacquard_lace/w87959-270x180.jpg')}}">
              </a>
            </li>            
            <li class="box">
              <a href="{{url_for('static',filename='img/jacquard_lace/w87961ys-big.jpg')}}" class="magnifier" >
                <img alt="" src="{{url_for('static',filename='img/jacquard_lace/w87961ys-270x180.jpg')}}">
              </a>
            </li>           
            <li class="box">
              <a href="{{url_for('static',filename='img/jacquard_lace/w87962rs-big.jpg')}}" class="magnifier" >
                <img alt="" src="{{url_for('static',filename='img/jacquard_lace/w87962rs-270x180.jpg')}}">
              </a>
            </li>           
            <li class="box">
              <a href="{{url_for('static',filename='img/jacquard_lace/w87963rs-big.jpg')}}" class="magnifier" >
                <img alt="" src="{{url_for('static',filename='img/jacquard_lace/w87963rs-270x180.jpg')}}">
              </a>
            </li>         
            <li class="box">
              <a href="{{url_for('static',filename='img/jacquard_lace/w87964rs-big.jpg')}}" class="magnifier" >
                <img alt="" src="{{url_for('static',filename='img/jacquard_lace/w87964rs-270x180.jpg')}}">
              </a>
            </li>       
            <li class="box">
              <a href="{{url_for('static',filename='img/jacquard_lace/w87965-big.jpg')}}" class="magnifier" >
                <img alt="" src="{{url_for('static',filename='img/jacquard_lace/w87965-270x180.jpg')}}">
              </a>
            </li>       
            <li class="box">
              <a href="{{url_for('static',filename='img/jacquard_lace/w87951-big.jpg')}}" class="magnifier" >
                <img alt="" src="{{url_for('static',filename='img/jacquard_lace/w87951-270x180.jpg')}}">
              </a>
            </li> 
        </div>
      </div>
    </div>
    {% include "ref_bottom.html" %}
  </div>
</div>

{% endblock %}