{% extends "base.html" %}
{% block body%}

<div class="bg-content">       
  <!--============================== content =================================-->      
  <div id="content">
    <div class="row-1">
      <div class="container">
        <div class="row">
          <article class="span12">
            <h3>贾卡花边 Jacquard Lace</h3>
          </article>
          <div class="clear"></div>
           <ul class="portfolio clearfix">           
            <li class="box">
              <a href="{{url_for('static',filename='img/jacquard_lace/W87255-big.jpg')}}" class="magnifier" >
                <img alt="" src="{{url_for('static',filename='img/jacquard_lace/W87255-270x180.jpg')}}">
              </a>
            </li>            
            <li class="box">
              <a href="{{url_for('static',filename='img/jacquard_lace/W87316-big.jpg')}}" class="magnifier" >
                <img alt="" src="{{url_for('static',filename='img/jacquard_lace/W87316-270x180.jpg')}}">
              </a>
            </li>            
            <li class="box">
              <a href="{{url_for('static',filename='img/jacquard_lace/W87950-big.jpg')}}" class="magnifier" >
                <img alt="" src="{{url_for('static',filename='img/jacquard_lace/W87950-270x180.jpg')}}">
              </a>
            </li>            
            <li class="box">
              <a href="{{url_for('static',filename='img/jacquard_lace/W87957-big.jpg')}}" class="magnifier" >
                <img alt="" src="{{url_for('static',filename='img/jacquard_lace/W87957-270x180.jpg')}}">
              </a>
            </li>            
            <li class="box">
              <a href="{{url_for('static',filename='img/jacquard_lace/W87958RS-big.jpg')}}" class="magnifier" >
                <img alt="" src="{{url_for('static',filename='img/jacquard_lace/W87958RS-270x180.jpg')}}">
              </a>
            </li>            
            <li class="box">
              <a href="{{url_for('static',filename='img/jacquard_lace/W87959-big.jpg')}}" class="magnifier" >
                <img alt="" src="{{url_for('static',filename='img/jacquard_lace/W87959-270x180.jpg')}}">
              </a>
            </li>            
            <li class="box">
              <a href="{{url_for('static',filename='img/jacquard_lace/W87961YS-big.jpg')}}" class="magnifier" >
                <img alt="" src="{{url_for('static',filename='img/jacquard_lace/W87961YS-270x180.jpg')}}">
              </a>
            </li>           
            <li class="box">
              <a href="{{url_for('static',filename='img/jacquard_lace/W87962RS-big.jpg')}}" class="magnifier" >
                <img alt="" src="{{url_for('static',filename='img/jacquard_lace/W87962RS-270x180.jpg')}}">
              </a>
            </li>           
            <li class="box">
              <a href="{{url_for('static',filename='img/jacquard_lace/W87963RS-big.jpg')}}" class="magnifier" >
                <img alt="" src="{{url_for('static',filename='img/jacquard_lace/W87963RS-270x180.jpg')}}">
              </a>
            </li>         
            <li class="box">
              <a href="{{url_for('static',filename='img/jacquard_lace/W87964RS-big.jpg')}}" class="magnifier" >
                <img alt="" src="{{url_for('static',filename='img/jacquard_lace/W87964RS-270x180.jpg')}}">
              </a>
            </li>       
            <li class="box">
              <a href="{{url_for('static',filename='img/jacquard_lace/W87965-big.jpg')}}" class="magnifier" >
                <img alt="" src="{{url_for('static',filename='img/jacquard_lace/W87965-270x180.jpg')}}">
              </a>
            </li>       
            <li class="box">
              <a href="{{url_for('static',filename='img/jacquard_lace/W87951-big.jpg')}}" class="magnifier" >
                <img alt="" src="{{url_for('static',filename='img/jacquard_lace/W87951-270x180.jpg')}}">
              </a>
            </li> 
        </div>
      </div>
    </div>
    {% include "ref_bottom.html" %}
  </div>
</div>

{% endblock %}