{% extends "base.html" %}
{% block body%}

<div class="bg-content">       
  <!--============================== content =================================-->      
  <div id="content">
    <div class="row-1">
      <div class="container">
        <div class="row">
          <article class="span12">
            <h3>经编花边 Lace Fabric</h3>
          </article>
          <div class="clear"></div>
           <ul class="portfolio clearfix">           
            <li class="box">
              <a href="{{url_for('static',filename='img/lace_fabric/w65230-big.jpg')}}" class="magnifier" >
                <img alt="" src="{{url_for('static',filename='img/lace_fabric/w65230-270x180.jpg')}}">
              </a>
            </li>            
            <li class="box">
              <a href="{{url_for('static',filename='img/lace_fabric/w87706m-big.jpg')}}" class="magnifier" >
                <img alt="" src="{{url_for('static',filename='img/lace_fabric/w87706m-270x180.jpg')}}">
              </a>
            </li>            
            <li class="box">
              <a href="{{url_for('static',filename='img/lace_fabric/w87707m-big.jpg')}}" class="magnifier" >
                <img alt="" src="{{url_for('static',filename='img/lace_fabric/w87707m-270x180.jpg')}}">
              </a>
            </li>            
            <li class="box">
              <a href="{{url_for('static',filename='img/lace_fabric/w87708m-big.jpg')}}" class="magnifier" >
                <img alt="" src="{{url_for('static',filename='img/lace_fabric/w87708m-270x180.jpg')}}">
              </a>
            </li>            
            <li class="box">
              <a href="{{url_for('static',filename='img/lace_fabric/w87710m-big.jpg')}}" class="magnifier" >
                <img alt="" src="{{url_for('static',filename='img/lace_fabric/w87710m-270x180.jpg')}}">
              </a>
            </li>            
            <li class="box">
              <a href="{{url_for('static',filename='img/lace_fabric/w87728m-big.jpg')}}" class="magnifier" >
                <img alt="" src="{{url_for('static',filename='img/lace_fabric/w87728m-270x180.jpg')}}">
              </a>
            </li>            
            <li class="box">
              <a href="{{url_for('static',filename='img/lace_fabric/w87810m-big.jpg')}}" class="magnifier" >
                <img alt="" src="{{url_for('static',filename='img/lace_fabric/w87810m-270x180.jpg')}}">
              </a>
            </li>           
            <li class="box">
              <a href="{{url_for('static',filename='img/lace_fabric/w87815m-big.jpg')}}" class="magnifier" >
                <img alt="" src="{{url_for('static',filename='img/lace_fabric/w87815m-270x180.jpg')}}">
              </a>
            </li>           
            <li class="box">
              <a href="{{url_for('static',filename='img/lace_fabric/w87816m-big.jpg')}}" class="magnifier" >
                <img alt="" src="{{url_for('static',filename='img/lace_fabric/w87816m-270x180.jpg')}}">
              </a>
            </li>         
            <li class="box">
              <a href="{{url_for('static',filename='img/lace_fabric/w87817m-big.jpg')}}" class="magnifier" >
                <img alt="" src="{{url_for('static',filename='img/lace_fabric/w87817m-270x180.jpg')}}">
              </a>
            </li>       
            <li class="box">
              <a href="{{url_for('static',filename='img/lace_fabric/w87819m-big.jpg')}}" class="magnifier" >
                <img alt="" src="{{url_for('static',filename='img/lace_fabric/w87819m-270x180.jpg')}}">
              </a>
            </li>       
            <li class="box">
              <a href="{{url_for('static',filename='img/lace_fabric/w87821m-big.jpg')}}" class="magnifier" >
                <img alt="" src="{{url_for('static',filename='img/lace_fabric/w87821m-270x180.jpg')}}">
              </a>
            </li> 
        </div>
      </div>
    </div>
    {% include "ref_bottom.html" %}
  </div>
</div>

{% endblock %}