{% extends "base.html" %}
{% block body%}

<div class="bg-content">       
  <!--============================== content =================================-->      
  <div id="content">
    <div class="row-1">
      <div class="container">
        <div class="row">
          <article class="span12">
            <h3>经编花边 Lace Fabric</h3>
          </article>
          <div class="clear"></div>
           <ul class="portfolio clearfix">           
            <li class="box">
              <a href="{{url_for('static',filename='img/lace_fabric/W65230-big.jpg')}}" class="magnifier" >
                <img alt="" src="{{url_for('static',filename='img/lace_fabric/W65230-270x180.jpg')}}">
              </a>
            </li>            
            <li class="box">
              <a href="{{url_for('static',filename='img/lace_fabric/W87706M-big.jpg')}}" class="magnifier" >
                <img alt="" src="{{url_for('static',filename='img/lace_fabric/W87706M-270x180.jpg')}}">
              </a>
            </li>            
            <li class="box">
              <a href="{{url_for('static',filename='img/lace_fabric/W87707M-big.jpg')}}" class="magnifier" >
                <img alt="" src="{{url_for('static',filename='img/lace_fabric/W87707M-270x180.jpg')}}">
              </a>
            </li>            
            <li class="box">
              <a href="{{url_for('static',filename='img/lace_fabric/W87708M-big.jpg')}}" class="magnifier" >
                <img alt="" src="{{url_for('static',filename='img/lace_fabric/W87708M-270x180.jpg')}}">
              </a>
            </li>            
            <li class="box">
              <a href="{{url_for('static',filename='img/lace_fabric/W87710M-big.jpg')}}" class="magnifier" >
                <img alt="" src="{{url_for('static',filename='img/lace_fabric/W87710M-270x180.jpg')}}">
              </a>
            </li>            
            <li class="box">
              <a href="{{url_for('static',filename='img/lace_fabric/W87728M-big.jpg')}}" class="magnifier" >
                <img alt="" src="{{url_for('static',filename='img/lace_fabric/W87728M-270x180.jpg')}}">
              </a>
            </li>            
            <li class="box">
              <a href="{{url_for('static',filename='img/lace_fabric/W87810M-big.jpg')}}" class="magnifier" >
                <img alt="" src="{{url_for('static',filename='img/lace_fabric/W87810M-270x180.jpg')}}">
              </a>
            </li>           
            <li class="box">
              <a href="{{url_for('static',filename='img/lace_fabric/W87815M-big.jpg')}}" class="magnifier" >
                <img alt="" src="{{url_for('static',filename='img/lace_fabric/W87815M-270x180.jpg')}}">
              </a>
            </li>           
            <li class="box">
              <a href="{{url_for('static',filename='img/lace_fabric/W87816M-big.jpg')}}" class="magnifier" >
                <img alt="" src="{{url_for('static',filename='img/lace_fabric/W87816M-270x180.jpg')}}">
              </a>
            </li>         
            <li class="box">
              <a href="{{url_for('static',filename='img/lace_fabric/W87817M-big.jpg')}}" class="magnifier" >
                <img alt="" src="{{url_for('static',filename='img/lace_fabric/W87817M-270x180.jpg')}}">
              </a>
            </li>       
            <li class="box">
              <a href="{{url_for('static',filename='img/lace_fabric/W87819M-big.jpg')}}" class="magnifier" >
                <img alt="" src="{{url_for('static',filename='img/lace_fabric/W87819M-270x180.jpg')}}">
              </a>
            </li>       
            <li class="box">
              <a href="{{url_for('static',filename='img/lace_fabric/W87821M-big.jpg')}}" class="magnifier" >
                <img alt="" src="{{url_for('static',filename='img/lace_fabric/W87821M-270x180.jpg')}}">
              </a>
            </li> 
        </div>
      </div>
    </div>
    {% include "ref_bottom.html" %}
  </div>
</div>

{% endblock %}