{% extends "base.html" %}
{% block body %}

<div class="bg-content">       
  <!--============================== content =================================-->      
  <div id="content">
    <div class="container">
          <div class="row">
        <article class="span8">
         <div class="inner-1">         
          <ul class="list-blog">
            <li>  
            <h3>企业文化 Our Culture</h3> 
            <!--
            <time datetime="2012-11-09" class="date-1">9.11.2012</time>
            <div class="name-author">by <a href="#">Admin</a></div>
            <a href="#" class="comments">11 comments</a> -->
            <div class="clear"></div>            
              <img alt="" src="{{url_for('static',filename='img/our_culture.jpg')}}">                               
              <p>
                <stong><a href="{{url_for('index')}}" class="link-1">福建福清中纺纺织有限公司</a> </strong>本着“诚信服务，品质至尊，携手共进，创新未来”的经营理念，公司不断进行创新改革，完善经营机制，提高产品质量和管理体系，力求把最好的产品以及最优的服务献给客户。至诚至信的客户服务，不断创新的产品研发，踏实的企业作风，是公司不断成长的基石，也是公司与国内外客户良好合作的纽带。<a href="{{url_for('index')}}" class="link-1">中纺纺织</a>真诚地愿与海内外朋友建立长期稳定的合作关系，携手共进，共创美好未来。
      </p>
 
<h5>愿景</h5>
<p>全球服装业的朋友　中国针织行业的骄傲
“朋友”意味着“诚信”与“资格”，“骄傲”代表了“实力”与“资本”。“朋友”是相互的，以客为尊，待客为友，诚实守信，尽职尽责为客户提供性能价格比最优的产品，创造性地提供超值服务，才能赢得做“朋友”的资格；“骄傲”是相对的，与时俱进，致力创新，追求卓越，不断发展壮大自我，引领行业进步，才能获得称“骄傲”的资本。</p>
 
<h5>核心价值观</h5>
<p>业绩　规则　诚信<br/>
业绩：始终坚持科学发展观，把发展作为第一要务，树立一切以业绩论成败的理念，不断提高企业发展质量和效益，确保国有资产保值增值。<br/>
规则：始终遵循行业发展规律、国有企业发展规律和企业自身发展规律，制定好规则，执行好规则，落实好监督执行规则的办法，树立严格按规章制度办事的良好风气。<br/>
诚信：始终诚实面对国家、社会和消费者，实事求是，以诚信赢得客户、赢得效益、赢得发展。</p>
 
<h5>企业精神</h5>
<p>协同　创新　卓越<br/>
协同：内部树立大局意识、团队意识，互相协作，共同发展；外部做到企业发展紧跟世界发展趋势，与中国大环境协调发展，与客户共荣共存。<br/>
创新：坚持思维创新，不断解放思想，以技术创新为根本，推动产品创新和管理创新，以创新实现企业的持续发展。<br/>
卓越：塑造一流的形象、培养一流的团队、研制一流的产品、提供一流的服务，不断追求、不断超越，做业界的翘楚和旗帜。</p>
 
<h5>经营宗旨</h5>
<p>为股东创造效益　为客户创造价值<br/>
为员工创造机会　为社会创造财富<br/><br/>
为股东创造效益：为股东创造效益，是<a href="{{url_for('index')}}" class="link-1">中纺纺织</a>经营的基本要求。<br/>坚持科学发展理念，提高企业赢利能力，追求股东效益最大化和企业可持续发展。<br/><br/>
为客户创造价值：为客户创造价值，是<a href="{{url_for('index')}}" class="link-1">中纺纺织</a>经营的价值体现。<br/>追求企业价值与客户价值的一致性，为客户提供增值服务，同步提升客户价值与企业价值。<br/><br/>
为员工创造机会：为员工创造机会，是<a href="{{url_for('index')}}" class="link-1">中纺纺织</a>经营的根本理念。<br/>坚持以人为本，尊重员工价值，信任员工能力，为员工的发展创造平台，使员工的个人价值在企业发展中得以实现。<br/><br/>
为社会创造财富：为社会创造财富，是<a href="{{url_for('index')}}" class="link-1">中纺纺织</a>经营的最终目标。<br/>自觉履行经济责任和社会责任，积极创造社会财富，服务社会，奉献社会，实现企业与社会和谐发展。</p>

 
            </li>  
          </ul>
          </div>  
        </article>
        <article class="span4">
          <h3>中纺风采</h3>
          <ul class="list extra extra1">           
            <li><a href="{{url_for('page', name='about_us')}}">企业简介 About Us</a></li>
            <li><a href="{{url_for('page', name='our_culture')}}">企业文化 Our Culture</a></li>
            <li><a href="{{url_for('page', name='devices')}}">生产设备 Factory Devices</a></li>
          </ul>

          {% include "side_bar.html" %}
        </article>
      </div>
     </div>
  </div>
 </div>

{% endblock %}