
    <div class="container">
      <div class="row">
        <article class="span6">
            <h3>联系我们 ContactUs</h3>
            <div class="wrapper">
            <!--
            <figure class="img-indent">
              <img src="{{url_for('static',filename='img/page1-img14.jpg')}}" alt="" />
            </figure>
            -->
            <div class="inner-1 overflow extra">
                <div class="txt-1">
                  请随时联系我们的电话热线：+86.13859073000
                </div>
                <p>
                  地址：福建省福清市元洪投资区（城头镇）<br/>
                  电话：0591－85588800<br/>
                  传真：0591－85583858<br/>
                  联系人：赵经理 13859073000<br/>
                  Http://www.zflace.com<br/>
                  E-mail:mail@zflace.com
                </p>
                <div class="border-horiz">
                </div>
                <div class="overflow">
                  <ul class="list list-pad">
                      <li><a href="{{url_for('product_id', name='small_lace')}}">蕾丝花边</a></li>
                      <li><a href="{{url_for('product_id', name='jacquard_lace')}}">贾卡花边</a></li>
                      <li><a href="{{url_for('product_id', name='lace_fabric')}}">经编花边</a></li>
                      <li><a href="{{url_for('product_id', name='embroidery_fabric')}}">织花边料</a></li>
                    </ul>
                  <ul class="list list-pad">
                      <li><a href="#">企业简介</a></li>
                      <li><a href="#">企业设备</a></li>
                      <li><a href="#">生产设备</a></li>
                    </ul>
                  <ul class="list">
                      <li><a href="#">联系我们</a></li>
                      <li><a href="#">English</a></li>
                    </ul>
                </div>
            </div>
          </div>
        </article>
        <article class="span6">
                <h3>热销产品 Hot Products</h3>
                <ul class="list-photo">
                <li>
                  <a href="{{url_for('static',filename='img/small_lace/W84181-big.jpg')}}" class="magnifier" >
                    <img src="{{url_for('static',filename='img/small_lace/W84181-120X87.jpg')}}" alt="" />
                  </a>
                </li>
                <li>
                  <a href="{{url_for('static',filename='img/small_lace/W82905-big.jpg')}}" class="magnifier" >
                    <img src="{{url_for('static',filename='img/small_lace/W82905-120X87.jpg')}}" alt="" />
                  </a>
                </li>
                <li>
                  <a href="{{url_for('static',filename='img/small_lace/W85094-big.jpg')}}" class="magnifier" >
                    <img src="{{url_for('static',filename='img/small_lace/W85094-120X87.jpg')}}" alt="" />
                  </a>
                </li>
                <li>
                  <a href="{{url_for('static',filename='img/jacquard_lace/W87255-big.jpg')}}" class="magnifier" >
                    <img src="{{url_for('static',filename='img/jacquard_lace/W87255-120x87.jpg')}}" alt="" />
                  </a>
                </li>
                <li>
                  <a href="{{url_for('static',filename='img/jacquard_lace/W87316-big.jpg')}}" class="magnifier" >
                    <img src="{{url_for('static',filename='img/jacquard_lace/W87316-120x87.jpg')}}" alt="" />
                  </a>
                </li>
                <li>
                  <a href="{{url_for('static',filename='img/jacquard_lace/W87962RS-big.jpg')}}" class="magnifier" >
                    <img src="{{url_for('static',filename='img/jacquard_lace/W87962RS-120x87.jpg')}}" alt="" />
                  </a>
                </li>
                <li>
                  <a href="{{url_for('static',filename='img/embroidery_fabric/991055C3-big.jpg')}}" class="magnifier" >
                    <img src="{{url_for('static',filename='img/embroidery_fabric/991055C3-120x87.jpg')}}" alt="" />
                  </a>
                </li>
                <li>
                  <a href="{{url_for('static',filename='img/embroidery_fabric/X7930A-big.jpg')}}" class="magnifier" >
                    <img src="{{url_for('static',filename='img/embroidery_fabric/X7930A-120x87.jpg')}}" alt="" />
                  </a>
                </li>
                <li>
                  <a href="{{url_for('static',filename='img/lace_fabric/W87707M-big.jpg')}}" class="magnifier" >
                    <img src="{{url_for('static',filename='img/lace_fabric/W87707M-120x87.jpg')}}" alt="" />
                  </a>
                </li>
          </ul>
            </article>
      </div>
    </div>