
          <!--
          <h3 class="extra">Search</h3>
          <form id="search" action="search.php" method="GET" accept-charset="utf-8" >
            <div class="clearfix">
              <input type="text" name="s" onBlur="if(this.value=='') this.value=''" onFocus="if(this.value =='' ) this.value=''" >
              <a href="#" onClick="document.getElementById('search').submit()" class="btn btn-1">Search</a>
            </div>
          </form>
          -->

          <h3>联系我们 Contact Us</h3>
          <div class="txt-1">
            联系电话：+86.13859073000
          </div>
          <ul class="list extra extra1">           
            <li>联系人：赵经理 13859073000</li>
            <li>电话：0591－85588800</li>
            <li>传真：0591－85583858</li>
            <li><a href="mailto:mail@zflace.com">E-mail:mail@zflace.com</a></li>
            <li>地址：福建省福清市元洪投资区（城头镇）</br>Yuanhong Investment Zone, Fuqing City, Fujian, China 350314</li>
          </ul>

          <h3>热销产品 Hot Products</h3>
          <ul class="list-photo">
            <li>
              <a href="{{url_for('static',filename='img/small_lace/W84181-BIG.jpg')}}" class="magnifier" >
                <img src="{{url_for('static',filename='img/small_lace/W84181-120X87.jpg')}}" alt="" />
              </a>
            </li>
            <li>
              <a href="{{url_for('static',filename='img/small_lace/W82905-big.jpg')}}" class="magnifier" >
                <img src="{{url_for('static',filename='img/small_lace/W82905-120X87.jpg')}}" alt="" />
              </a>
            </li>
            <li>
              <a href="{{url_for('static',filename='img/small_lace/W85094-big.jpg')}}" class="magnifier" >
                <img src="{{url_for('static',filename='img/small_lace/W85094-120X87.jpg')}}" alt="" />
              </a>
            </li>
            <li>
              <a href="{{url_for('static',filename='img/jacquard_lace/W87255-big.jpg')}}" class="magnifier" >
                <img src="{{url_for('static',filename='img/jacquard_lace/W87255-120x87.jpg')}}" alt="" />
              </a>
            </li>
          </ul>

