{% extends "base.html" %}
{% block body%}

<div class="bg-content">       
  <!--============================== content =================================-->      
  <div id="content">
    <div class="row-1">
      <div class="container">
        <div class="row">
          <article class="span12">
            <h3>蕾丝花边 Small Lace</h3>
          </article>
          <div class="clear"></div>
           <ul class="portfolio clearfix">           
            <li class="box">
              <a href="{{url_for('static',filename='img/small_lace/W82904-big.jpg')}}" class="magnifier" >
                <img alt="" src="{{url_for('static',filename='img/small_lace/W82904-270x180.jpg')}}">
              </a>
            </li>            
            <li class="box">
              <a href="{{url_for('static',filename='img/small_lace/W82905-big.jpg')}}" class="magnifier" >
                <img alt="" src="{{url_for('static',filename='img/small_lace/W82905-270x180.jpg')}}">
              </a>
            </li>            
            <li class="box">
              <a href="{{url_for('static',filename='img/small_lace/W82906-big.jpg')}}" class="magnifier" >
                <img alt="" src="{{url_for('static',filename='img/small_lace/W82906-270x180.jpg')}}">
              </a>
            </li>            
            <li class="box">
              <a href="{{url_for('static',filename='img/small_lace/W84181-big.jpg')}}" class="magnifier" >
                <img alt="" src="{{url_for('static',filename='img/small_lace/W84181-270x180.jpg')}}">
              </a>
            </li>            
            <li class="box">
              <a href="{{url_for('static',filename='img/small_lace/W85091-big.jpg')}}" class="magnifier" >
                <img alt="" src="{{url_for('static',filename='img/small_lace/W85091-270x180.jpg')}}">
              </a>
            </li>            
            <li class="box">
              <a href="{{url_for('static',filename='img/small_lace/W85094-big.jpg')}}" class="magnifier" >
                <img alt="" src="{{url_for('static',filename='img/small_lace/W85094-270x180.jpg')}}">
              </a>
            </li>            
            <li class="box">
              <a href="{{url_for('static',filename='img/small_lace/W85116-big.jpg')}}" class="magnifier" >
                <img alt="" src="{{url_for('static',filename='img/small_lace/W85116-270x180.jpg')}}">
              </a>
            </li>           
            <li class="box">
              <a href="{{url_for('static',filename='img/small_lace/W87034A-big.jpg')}}" class="magnifier" >
                <img alt="" src="{{url_for('static',filename='img/small_lace/W87034A-270x180.jpg')}}">
              </a>
            </li>           
            <li class="box">
              <a href="{{url_for('static',filename='img/small_lace/W87404-big.jpg')}}" class="magnifier" >
                <img alt="" src="{{url_for('static',filename='img/small_lace/W87404-270x180.jpg')}}">
              </a>
            </li>         
            <li class="box">
              <a href="{{url_for('static',filename='img/small_lace/W87202-big.jpg')}}" class="magnifier" >
                <img alt="" src="{{url_for('static',filename='img/small_lace/W87202-270x180.jpg')}}">
              </a>
            </li>       
            <li class="box">
              <a href="{{url_for('static',filename='img/small_lace/W87257-big.jpg')}}" class="magnifier" >
                <img alt="" src="{{url_for('static',filename='img/small_lace/W87257-270x180.jpg')}}">
              </a>
            </li>       
            <li class="box">
              <a href="{{url_for('static',filename='img/small_lace/W87360-big.jpg')}}" class="magnifier" >
                <img alt="" src="{{url_for('static',filename='img/small_lace/W87360-270x180.jpg')}}">
              </a>
            </li> 
        </div>
      </div>
    </div>
    {% include "ref_bottom.html" %}
  </div>
</div>

{% endblock %}